<% module_namespacing do -%>
class <%= class_name %>Job < ApplicationJob
  class_timeout 30 # must be less than or equal to the SNS Topic default timeout
  sqs_event "hello-queue"
  def <%= options[:name] %>
    puts "event #{JSON.dump(event)}"
    puts "sqs_events #{JSON.dump(sqs_events)}"
    puts "sqs_events? #{JSON.dump(sqs_events?)}"
  end
end
<% end -%>
