*.gem
*.rbc
.bundle
.byebug_history
.config
.yardoc
_yardoc
coverage
doc/
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.codebuild/definitions
/html
/demo
Gemfile.lock
spec/fixtures/apps/franky/dynamodb/migrate
spec/fixtures/project/handlers
