[submodule "vendor/dynamodb_model"]
	path = vendor/dynamodb_model
	url = https://github.com/tongueroo/dynamodb_model.git
[submodule "spec/fixtures/apps/demo"]
	path = spec/fixtures/apps/demo
	url = https://github.com/tongueroo/demo.git
