[submodule "vendor/dynamodb_model"]
	path = vendor/dynamodb_model
	url = git@github.com:tongueroo/dynamodb_model.git
[submodule "spec/fixtures/apps/demo"]
	path = spec/fixtures/apps/demo
	url = git@github.com:tongueroo/demo.git
[submodule "vendor/lambdagem"]
	path = vendor/lambdagem
	url = git@github.com:tongueroo/lambdagem.git
