*.gem
*.rbc
.bundle
.byebug_history
.config
.yardoc
_yardoc
coverage
doc/
docs/
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
node_modules

.codebuild/definitions
/html
/demo
Gemfile.lock
spec/fixtures/demo/dynamodb/migrate
spec/fixtures/demo/public/assets
spec/fixtures/project/handlers
yarn.lock
