*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

spec/fixtures/project/handlers
.codebuild/definitions
demo*
/html
spec/fixtures/apps/franky/dynamodb/migrate
Gemfile.lock 
.byebug_history
