<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Jets</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <style type="text/css" media="screen" charset="utf-8">
    body {
      text-align: center;
      margin: 0;
    }
    .header {
      background-color: #b81513;
      padding: 20px;
      color: white;
    }
    .title {
      font-size: 1.5em;
    }
    .intro {
      text-align: left;
      font-size: large;
      margin: 0 auto;
      max-width: 640px;
    }
    .code {
    }
  </style>
</head>

<body>
  <div class="container">
    <header class="header">
      <img src="images/jets.png" class="logo" alt="logo" />
      <h1 class="title">Welcome to Jets</h1>
    </header>
    <div class="intro">
      <p>
        To get started:
      </p>
      <div class="code"><pre><code>
        $ jets generate scaffold Post title:string
        $ curl localhost:8888
      </code></pre></div>
      <p>More on: <a href="http://rubyonjets.com">rubyonjets.com</a></p>
    </div>
  </div>
</body>
</html>
