// Styling for the features section
section.features {
    h3 {
        // background-color: green;
        // font-size: 1.6em;
    }
    .section-heading {
        margin-bottom: 20px;
        h2 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .device-container,
    .feature-item {
        max-width: 300px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        margin-bottom: 100px;
        text-align: center;
        h3 {
            font-size: 30px;
        }
        i {
            font-size: 80px;
            background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
            background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    @media(min-width: 992px) {
        .device-container,
        .feature-item {
            max-width: none;
        }
    }
}
