section.support-jets {
  margin-top: 50px;

  .container {
    max-width: 1000px;
  }

  .pledge {
    max-width: 100px;
    margin-right: 20px;
  }

  .bottom-message {
    border-top: 1px solid #73AD21;
    padding-top: 30px;
  }
}


