table {
    width: 100%;
    background-color: #ecf0f1;
    margin-bottom: 20px;
}

thead {
}

tr {

}

thead th {
    background-color: #000000;
    text-transform: uppercase;
    color: #cdcdce;
}

tbody {
}

tr {
}

tbody td {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    color: black;
}

th,
td {
    padding: 10px;
}
