module <%= @app_namespace %>
  class Application < Jets::Application
    config.load_defaults 5.0

    config.project_name = "<%= @project_name %>"
    config.mode = "<%= @options[:mode] %>"

<%- if @options[:mode] == 'job' -%>
    config.prewarm.enable = false
<%- end -%>
    # Docs:
    # https://rubyonjets.com/docs/config/
    # https://rubyonjets.com/docs/config/reference/
  end
end
