<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Demo Jets App</title>

  <%= javascript_pack_tag "application" %>
  <%= stylesheet_pack_tag "application" %>
</head>
<body>

<h1>Application layout</h1>

<%= yield %>

</body>
</html>
