<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Jets App</title>
  <%%= javascript_pack_tag "application" %>
  <%%= stylesheet_pack_tag "theme" %>
</head>
<body>
<section class="starter">
  <div class="container">
    <div class="row">
      <div class="col-md-9 content-body">
        <%% if @title %><h1><%%= @title %></h1><%% end %>
        <%%= yield %>
      </div>
    </div>
  </div>
</section>
</body>
</html>
